@import "tailwindcss";

@theme {
    --color-primary: oklch(57% 0.24 196deg);
    --color-secondary: oklch(64% 0.33 34deg);
    --color-tertiary: oklch(0% 0 0deg);
    --font-rubik: "Rubik", sans-serif;
}

@font-face {
    font-family: "Rubik";
    src: url("/fonts/Rubik-VariableFont_wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    src: url("/fonts/Rubik-VariableFont_wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}


.star {
  position: absolute;
  background: white;
  border-radius: 50%;
  animation: twinkle var(--duration) ease-in-out infinite alternate;
}

.star.bright {
  box-shadow: 0 0 6px 2px rgba(255, 255, 255, 0.4);
}

.shooting-star {
  position: absolute;
  width: 4px;
  height: 4px;
  background: white;
  border-radius: 50%;
  box-shadow:
    0 0 6px 2px rgba(255, 255, 255, 0.6),
    -20px 0 10px 1px rgba(255, 255, 255, 0.3),
    -40px 0 15px 0px rgba(255, 255, 255, 0.1);
  animation: shoot var(--shoot-duration) ease-in forwards;
  opacity: 0;
}

@keyframes twinkle {
  0% {
    opacity: var(--min-opacity);
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(1.3);
  }
}

@keyframes shoot {
  0% {
    opacity: 1;
    transform: translate(0, 0) rotate(-35deg);
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(300px, 200px) rotate(-35deg);
  }
}