---
const currentYear = new Date().getFullYear();
---

<footer class="bg-tertiary text-white py-4 text-center">
        <p>&copy; {currentYear} Carta Moka. All rights reserved.</p>
        <p>By Daniel Buelvas</p>
</footer>
