<header class="w-full h-3/6 bg-tertiary flex flex-col justify-center items-center">
  <div class="w-96 h-96 mt-5">
    <img src="Public/moka_logo.png" alt="CafeMoka logo">
  </div>
  <div>
      <h1 class="text-white text-6xl font-bold">
          Cafe Moka
      </h1>
  </div>
</header>
