---
import Card from "./Card.astro";
---

<main class="w-full h-screen flex flex-wrap justify-center items-center bg-background">
    <Card title="Sample Title" description="This is a sample description." image="" button="Click Me" />
    <Card title="Sample Title" description="This is a sample description." image="" button="Click Me" />
    <Card title="Sample Title" description="This is a sample description." image="" button="Click Me" />
    <Card title="Sample Title" description="This is a sample description." image="" button="Click Me" />
</main>